.d-flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}
.gap-20{
    gap: 20px;
}
.m-padding{
    padding: 20px;
}
.padding-t-b{
    padding-top: 70px;
    padding-bottom: 70px;
}
.margin-top{
    margin-top: 30px;
}

.margin-bottom{
    margin-bottom: 20px;
}
.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}

.p-center{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}