/* start global formate */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#149ddd;
    --second-color:#292f37;
    --sub-color:#999;
    --main-transition:.4s;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 15px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
html{
    scroll-behavior: smooth;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* start container */
@media (max-width:768px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width:768px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        width:750px ;
    }
}
@media (min-width:992px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        width:950px ;
    }
}
@media (min-width:1200px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
/* end container */
/* start section header */
.section-header{
    font-size: 35px;
    font-weight: 600;
    position: relative;
    width: fit-content;
    margin-bottom: 25px;
    padding-bottom: 20px;
}
.section-header::after{
    content: "";
    position: absolute;
    width: 60%;
    height: 4px;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    border-radius: 10px;
}
.section-header-para{
    line-height: 1.6;
    color: var(--sub-color);
}
/* end section header */

/* end global formate */
/* start all-page  */
.all-page .sidebar {
    width: 300px;
    background-color: black;
    color: white;
    min-height: 100vh;
}
.all-page .sidebar a{
    color: white;
}
/* end all-page  */
/* start sidebar */
.all-page .sidebar .sidebar-header img{
    width: 120px;
    border-radius: 50%;
    border: 7px solid var(--second-color);
    margin-bottom: 15px;
    transition: var(--main-transition);
}
.all-page .sidebar .sidebar-header img:hover{
    transform: scale(1.1) translateX(-48%);
}
.all-page .sidebar .sidebar-header h3{
    width: fit-content;
    font-size: 25px;
    margin-bottom: 20px;
}
.all-page .sidebar .sidebar-header ul li:not(:last-child){
    margin-right: 10px;
}
.all-page .sidebar .sidebar-header ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: var(--second-color);
    border-radius: 50%;
    transition: var(--main-transition);
}
.all-page .sidebar .sidebar-header ul{
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--second-color);
}
.all-page .sidebar .sidebar-header ul li a:hover{
    background-color: var(--main-color);
    transform: scale(1.1);
}
.all-page .sidebar .sidebar-content ul li:not(:last-child) {
    margin-bottom: 35px;
}
.all-page .sidebar .sidebar-content ul li a{
    color:var(--sub-color);
    font-size: 17px;
    transition: var(--main-transition);
}
.all-page .sidebar .sidebar-content ul li a i{
    margin-right: 10px;
    font-size: 18px;
    transition: var(--main-transition);
}
.all-page .sidebar .sidebar-content ul li:hover a span{
    color: white;
}
.all-page .sidebar .sidebar-content ul li:hover a i{
    color: var(--main-color);
    animation: move 1s linear infinite alternate ;
    transform: scale(1.2);
}
@media (max-width:1200px) {
    .all-page .sidebar .sidebar-content ul li a i{
        margin: 0 0 10px;
        font-size: 20px;
    }
    .all-page .sidebar .sidebar-content ul li a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .all-page{
        flex-direction: column;
    }
    .all-page .sidebar {
        width: 100%;
        min-height: 100px;
    }
    .all-page .sidebar {
        position: relative;
    }
    .all-page .sidebar .sidebar-content ul{
        display: flex;
        gap: 10px;
        background-color: var(--second-color);
        justify-content: center;
        align-items: center;
        height: 65px;
        border-radius: 10px;
    }
    .all-page .sidebar .sidebar-content ul li{
        width: calc(100% - 60px);
    }
    .all-page .sidebar .sidebar-content ul li:not(:last-child) {
        margin-bottom: 0px;
    }
    .all-page .sidebar{
        position: sticky;
        top: -275px;
        z-index: 1000;
    }
}
@media (max-width:768px) {
    .all-page .sidebar .sidebar-header h3 ,
    .all-page .sidebar .sidebar-header ul{
        display: none;
    }
    .all-page .sidebar .sidebar-header img{
        width: 60px;
    }
    .all-page .sidebar .sidebar-content ul li a span{
        display: none;
    }
    .all-page .sidebar .sidebar-content ul li a i{
        margin-bottom: 0;
    }
    .all-page .sidebar{
        position: sticky;
        top: -90px;
        z-index: 1000;
    }
}
/* end sidebar */
/* start conetnt */
.content{
    flex-grow: 1;
}
/* start home */
.content .home{
    background-image: url(../image/hero-bg.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    position: relative;
}
.content .home::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0 , .3);
    position: absolute;
    top: 0;
    left: 0;
}
.content .home .text{
    position: relative;
    color: white;
    position: absolute;
    top: 50%;
    padding: 5px 0 10px 20px;
    background-color: var(--second-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 400px;
}
.content .home .text h3{
    font-size: 45px;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.content .home .text p{
    font-size: 30px;
}
@media (max-width:768px) {
    .content .home .text h3{
        font-size: 30px;
    }
    .content .home .text p{
        font-size: 20px;
    }
    .content .home .text{
        width: 85%;
    }
}
.content .home .text p span{
    position: relative;
}
.content .home .text p span::before{
    content: "Developer";
    color: var(--main-color);
    font-weight: 600;
    margin-left: 10px;
    animation: words 20s infinite ;
}
.content .home .text p span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 110%;
    background-color: var(--second-color);
    border-left: 2px solid var(--second-color);
    right: -8px;
    animation: cursor .8s infinite , typing 15s steps(14) infinite;
}
/* end home */
/* start about */
.about .about-content img{
    width: 350px;
    border-radius: 20px;
    animation: move 1s linear infinite alternate ;
}
.about .about-content .description h3 {
    margin-bottom: 10px;
}
.about .about-content .description p{
    font-size: 15px;
    line-height: 1.6;
    color: var(--sub-color);
}
.about .about-content .description ul li i{
    margin-right: 10px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
}
.about .about-content .description ul li span{
    font-size: 17px;
    color: black;
    font-weight: 700;
}
.about .about-content .description ul li span span{
    font-size: 16px;
    color: #444;
    font-weight: 500;
}
.about .about-content .description p:last-child{
    font-size: 17px;
}
@media (max-width:992px) {
    .about .about-content{
        flex-direction: column;
    }
    .about .about-content img{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        animation: none;
    }
    .about .about-content .description .rows{
        flex-direction: column;
    }
    .about .about-content .description ul:last-child{
        margin-top: 20px;
    }
}
.about-stat{
    margin-top: 100px;
    gap: 2.6%;
    flex-wrap: wrap;
}
.about-stat div{
    width: 23%;
}
.about-stat div i{
    margin-right: 20px;
    font-size: 40px;
    color: var(--main-color);
}
.about-stat div .text{
    width: 150px;
}
.about-stat div .text > span{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
}
.about-stat div .text p{
    font-size: 16px;
    color: #888;
}
.about-stat div .text p span{
    font-size:16 ;
    color: #444;
}
@media (max-width:768px) {
    .about-stat{
        flex-direction: column;
    }
    .about-stat div{
        width: 100%;
        margin-bottom:20px ;
    }
    .about-stat div .text i{
        margin-right: 0px;
    }
    .about-stat div .text{
        flex-grow: 1;
    }
}
/* end about */
/* end conetnt */
/*start animation */
/* @keyframes appear {
    from{
        opacity: .5;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
} */
@keyframes cursor {
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words {
    0% , 25%{
        content: "Developer";
    }
    26% , 50%{
        content: "Designer";
    }
    51% , 75%{
        content: "Gamer";
    }
    76% , 100%{
        content: "Youtuber";
    }
}
@keyframes typing {
    10% , 15% , 30% , 35% , 50% , 55% , 70% , 75% , 90% , 95%{
        width: 0;
    }
    5% , 20% , 25% , 40% , 45% , 60% , 65% , 80% , 85%{
        width: calc(100% + 8px);
    } 
}
@keyframes move {
    to{
        transform: translateY(-5px);
    }
}
/* end animation */